@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jqwidgets/jqwidgets/jqx-all.js"></script>
<script type="text/javascript" src="~/js/Options.js"></script>
<div class="jqx-bottom-align">
    <form>
        <label>Enter the ticker</label>
        <input id="ticker" />
        <input id="button" type="submit" value="Run" class="jqx-action-button"/>
    </form>

</div>
